<html>
<head>
    <title>clearing out my shelves</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Your album collection? It's gone! You deleted them all.</h1>
        <p><a href='/'>home</a></p>
    </div>
</body>
</html>
