<html>
<head>
    <title>CD Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        {% if albums is not empty %}
        <h1>CD Organizer</h1>
        {% for album in albums %}
        <ul>
            <li>{{ albums.getTitle }}</li>
        </ul>
        {% endfor %}
        {% else %}
            <h1>CD Organizer</h1>
            <h2>Welcome!</h2>
            <h3>There are no CDs to display yet</h3>
        {% endif %}
        <h4><a href='new_cd'>Add a listing to your CD collection</a></h3>
        <form action='delete_cds' method='post'>
            <button type='submit'>get rid of this collection</button>
        </form>
    </div>
</body>
</html>
