<html>
<head>
    <title>Search</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
    <h1>CD Organizer</h1>
        <h2>Search your Collection by artist</h2>
            <div class='form-group'>
            <form action='/search_results' method='get'>
                <label for='artist_search'>Artist:</label>
                <input id='artist_search' name='artist_search' class='form-control' type='text'>
                <button type='submit'>search</button>
            </form>
            </div>
            <p><a href='/'>actually, take me home</a></p>
    </div>
</body>
</html>
